.main-background {
  color: cyan;
  background-color: blue;
  opacity: 0.7;
  border-style: double;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
}

.background {
  color: cyan;
  background-color: blue;
  opacity: 0.7;
  border-style: double;
  border-radius: 10px;
}

.ground {
  color: cyan;
  background-color: blue;
  opacity: 0.7;
  border-style: double;
  border-radius: 10px;
}

body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
